[Download csv file](https://drive.google.com/file/d/10rhOZhjVWToi8KnnvLYTb9r0RlHt7Fhe/view?usp=sharing)

[link 10_Pivot Tables_CW ](https://docs.google.com/spreadsheets/d/1uBYaoRpOwLzIhP9yDOmjm7RGICPO5paC/edit?usp=sharing&ouid=106333942476934557329&rtpof=true&sd=true)

[link github titanic.csv](https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv)

In [1]:
import pandas as pd

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [21]:
df=pd.read_csv("/content/Employee_Performance.csv")

In [24]:
df.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4
1,E1001025,30,Male,Marketing,Divorced,Sales,Sales Executive,Travel_Rarely,27,5,...,4,10,2,2,8,7,7,7,No,4
2,E1001054,52,Male,Marketing,Married,Sales,Manager,Travel_Rarely,3,4,...,1,34,3,4,34,6,1,16,No,4
3,E1001059,25,Female,Medical,Single,Sales,Sales Executive,Travel_Rarely,26,1,...,2,6,5,2,6,5,1,4,No,4
4,E1001064,34,Male,Other,Single,Sales,Sales Executive,Travel_Rarely,2,3,...,3,6,5,3,6,5,1,4,No,4

In [25]:
df.tail()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
81,E100724,33,Male,Marketing,Single,Sales,Sales Executive,Travel_Frequently,10,3,...,3,9,6,2,7,7,0,1,No,4
82,E100891,31,Male,Life Sciences,Divorced,Sales,Manager,Travel_Rarely,7,3,...,3,10,3,2,5,4,0,1,No,4
83,E100985,25,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Rarely,8,3,...,3,4,4,3,3,2,1,2,No,4
84,E100987,38,Female,Marketing,Single,Sales,Sales Executive,Travel_Rarely,7,4,...,1,8,2,3,7,7,0,5,No,4
85,E100992,27,Female,Medical,Divorced,Sales,Sales Executive,Travel_Frequently,3,1,...,2,6,3,3,6,5,0,4,No,4

In [26]:
type(df)

pandas.core.frame.DataFrame

In [27]:
list(df.columns)

['EmpNumber',
 'Age',
 'Gender',
 'EducationBackground',
 'MaritalStatus',
 'EmpDepartment',
 'EmpJobRole',
 'BusinessTravelFrequency',
 'DistanceFromHome',
 'EmpEducationLevel',
 'EmpEnvironmentSatisfaction',
 'EmpHourlyRate',
 'EmpJobInvolvement',
 'EmpJobLevel',
 'EmpJobSatisfaction',
 'NumCompaniesWorked',
 'OverTime',
 'EmpLastSalaryHikePercent',
 'EmpRelationshipSatisfaction',
 'TotalWorkExperienceInYears',
 'TrainingTimesLastYear',
 'EmpWorkLifeBalance',
 'ExperienceYearsAtThisCompany',
 'ExperienceYearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager',
 'Attrition',
 'PerformanceRating']

In [32]:
df.Age

0     40
1     30
2     52
3     25
4     34
      ..
81    33
82    31
83    25
84    38
85    27
Name: Age, Length: 86, dtype: int64

In [33]:
df['Age']

0     40
1     30
2     52
3     25
4     34
      ..
81    33
82    31
83    25
84    38
85    27
Name: Age, Length: 86, dtype: int64

In [40]:
df[['EmpNumber']]

   EmpNumber
0   E1001007
1   E1001025
2   E1001054
3   E1001059
4   E1001064
..       ...
81   E100724
82   E100891
83   E100985
84   E100987
85   E100992

[86 rows x 1 columns]

In [44]:
type(df['Age'])

pandas.core.series.Series

In [43]:
type(df[['EmpNumber']])

pandas.core.frame.DataFrame

In [41]:
df[['EmpNumber', 'Age', 'Gender']]

   EmpNumber  Age  Gender
0   E1001007   40    Male
1   E1001025   30    Male
2   E1001054   52    Male
3   E1001059   25  Female
4   E1001064   34    Male
..       ...  ...     ...
81   E100724   33    Male
82   E100891   31    Male
83   E100985   25    Male
84   E100987   38  Female
85   E100992   27  Female

[86 rows x 3 columns]

In [36]:
type(df['Age'])

pandas.core.series.Series

In [45]:
df.dtypes

EmpNumber                       object
Age                              int64
Gender                          object
EducationBackground             object
MaritalStatus                   object
EmpDepartment                   object
EmpJobRole                      object
BusinessTravelFrequency         object
DistanceFromHome                 int64
EmpEducationLevel                int64
EmpEnvironmentSatisfaction       int64
EmpHourlyRate                    int64
EmpJobInvolvement                int64
EmpJobLevel                      int64
EmpJobSatisfaction               int64
NumCompaniesWorked               int64
OverTime                        object
EmpLastSalaryHikePercent         int64
EmpRelationshipSatisfaction      int64
TotalWorkExperienceInYears       int64
TrainingTimesLastYear            int64
EmpWorkLifeBalance               int64
ExperienceYearsAtThisCompany     int64
ExperienceYearsInCurrentRole     int64
YearsSinceLastPromotion          int64
YearsWithCurrManager             int64
Attrition                       object
PerformanceRating                int64
dtype: object

In [52]:
df1=pd.read_excel("/content/10_Pivot Tables_CW.xlsx", sheet_name="Proper Data Set")

In [53]:
df1

,Date,Region,SalesRep,Sales,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,2017-10-20,West,Gigi,620,NaN,NaN,NaN,NaN
1,2017-10-20,Northwest,Gigi,484,NaN,NaN,NaN,NaN
2,2017-10-20,West,Freddy,376,NaN,NaN,NaN,NaN
3,2017-10-20,Northwest,Freddy,1141,NaN,NaN,NaN,NaN
4,2017-10-20,Northwest,Chin,725,NaN,NaN,NaN,NaN
5,2017-10-20,West,Chin,222,NaN,NaN,NaN,NaN
6,2017-10-20,West,June,1038,NaN,NaN,NaN,NaN
7,2017-10-21,Northwest,Chin,154,NaN,NaN,NaN,NaN
8,2017-10-21,Northwest,Gigi,205,NaN,NaN,NaN,Define:
9,2017-10-21,Southwest,Gigi,895,NaN,NaN,NaN,Proper Data Set
10,2017-10-21,West,Chin,1254,NaN,NaN,NaN,1) “Column Headers” (also known as “Field Name...
11,2017-10-22,Northwest,June,596,NaN,NaN,NaN,Field Names tell the user what data goes into ...
12,2017-10-24,Southwest,Gigi,799,NaN,NaN,NaN,2) Each row after row with Field Names must ha...
13,2017-10-24,Northwest,Gigi,651,NaN,NaN,NaN,3) Must have empty cells or row/column headers...
14,2017-10-24,West,June,1235,NaN,NaN,NaN,NaN
15,2017-10-24,Southwest,Chin,684,NaN,NaN,NaN,NaN
16,2017-10-24,Northwest,June,127,NaN,NaN,NaN,NaN
17,2017-10-24,West,June,269,NaN,NaN,NaN,NaN
18,2017-10-25,Southwest,Chin,739,NaN,NaN,NaN,NaN
19,2017-10-25,West,Gigi,1201,NaN,NaN,NaN,NaN
20,2017-10-25,Northwest,June,546,NaN,NaN,NaN,NaN
21,2017-10-25,Northwest,Chin,162,NaN,NaN,NaN,NaN

In [54]:
df1.dtypes

Date          datetime64[ns]
Region                object
SalesRep              object
Sales                  int64
Unnamed: 4           float64
Unnamed: 5           float64
Unnamed: 6           float64
Unnamed: 7            object
dtype: object

In [57]:
df1.columns

Index(['Date', 'Region', 'SalesRep', 'Sales', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [59]:
df1[['Date', 'Region', 'SalesRep', 'Sales']]

         Date     Region SalesRep  Sales
0  2017-10-20       West     Gigi    620
1  2017-10-20  Northwest     Gigi    484
2  2017-10-20       West   Freddy    376
3  2017-10-20  Northwest   Freddy   1141
4  2017-10-20  Northwest     Chin    725
5  2017-10-20       West     Chin    222
6  2017-10-20       West     June   1038
7  2017-10-21  Northwest     Chin    154
8  2017-10-21  Northwest     Gigi    205
9  2017-10-21  Southwest     Gigi    895
10 2017-10-21       West     Chin   1254
11 2017-10-22  Northwest     June    596
12 2017-10-24  Southwest     Gigi    799
13 2017-10-24  Northwest     Gigi    651
14 2017-10-24       West     June   1235
15 2017-10-24  Southwest     Chin    684
16 2017-10-24  Northwest     June    127
17 2017-10-24       West     June    269
18 2017-10-25  Southwest     Chin    739
19 2017-10-25       West     Gigi   1201
20 2017-10-25  Northwest     June    546
21 2017-10-25  Northwest     Chin    162

In [62]:
df2=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [63]:
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [66]:
df2.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [67]:
type(df2)

pandas.core.frame.DataFrame

In [68]:
df2.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [69]:
pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv", usecols=['PassengerId', 'Survived', 'Pclass'])

     PassengerId  Survived  Pclass
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

[891 rows x 3 columns]

In [77]:
url_data=pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [78]:
type(url_data)

list

In [79]:
len(url_data)

1

In [81]:
df3=url_data[0]
df3

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [82]:
type(df3)

pandas.core.frame.DataFrame

In [83]:
df3.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [86]:
df3.to_csv("players_data.csv",index=False)